@mixin Gotham
    font-family: 'Gotham Pro', sans-serif

.new
    display: flex
    flex-direction: row
    background-color: #222222
    height: 400px
    &:nth-child(even)
        flex-direction: row-reverse
        background-color: #f3f3f3
        .col
            width: 50%
            height: auto
            &:first-child
                background-color: transparent
                padding: 82px 15% 2% 8%
            &:last-child
                padding: 0
                overflow: hidden
            .new__date
                color: #222222
            .new__title
                color: #222222
            .new__text
                color: #222222
            .new__img
    .col
        width: 50%
        height: auto
        &:first-child
            padding: 82px 8% 2% 15%
        &:last-child
            padding: 0
            overflow: hidden

    &__date
        @include Gotham
        font-size: 13px
        font-weight: 300
        color: #ffffff
        margin-bottom: 18px
    &__title
        color: #ffffff
        @include Gotham
        font-size: 25px
        font-weight: 500
        line-height: 36px
        text-transform: uppercase
        margin-bottom: 43px
    &__text
        color: #ffffff
        @include Gotham
        font-size: 15px
        font-weight: 300
        line-height: 24px
    &__img
        width: 100%

@media screen and ( max-width: 1500px )
    .new
        &:nth-child(even)
            .col
                &:first-child
                    background-color: transparent
                    padding: 82px 10% 2% 8%
                &:last-child
                    padding: 0
                    overflow: hidden
                .new__date
                    color: #222222
                .new__title
                    color: #222222
                .new__text
                    color: #222222
                .new__img
        .col
            width: 50%
            height: auto
            &:first-child
                padding: 82px 8% 2% 10%
            &:last-child
                padding: 0
                overflow: hidden
        &__img
            width: auto
            height: 100%

@media screen and ( max-width: 580px )
    .new
        flex-direction: column-reverse
        height: auto
        &:nth-child(even)
            flex-direction: column-reverse
            .col
                width: 100%
                &:first-child
                    background-color: transparent
                    padding: 30px 8% 8% 8%
                &:last-child
                    padding: 0
                    overflow: hidden
                .new__date
                    color: #222222
                .new__title
                    color: #222222
                .new__text
                    color: #222222
                .new__img
        .col
            width: 100%
            height: auto
            &:first-child
                padding: 30px 8% 8% 10%
            &:last-child
                padding: 0
                overflow: hidden
        &__img
            width: 100%
            height: auto